//colors
$backgroundColor: #3d3d3d;
$primaryWhite: #fff;
$primaryBlue: #0077ff;

// paddings
$padding1: 1rem;
$padding3: 3rem;
$padding5: 5rem;

//fonts
$fontSize2: 2rem;
$fontSize3: 3rem;

//margins
$margin1: 1rem;
$margin2: 2rem;

//pexels
$pexels400: 400px;
